/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
h1 {font-size:210%;margin-top:0px;font-weight:normal}
h2 {font-size:180%;margin-top:10px;margin-bottom:10px;font-weight:normal}
h3 {font-size:120%;font-weight:normal}
h4 {font-size:100%;}
h5 {font-size:90%;}
h6 {font-size:80%;}

h1,h2,h3,h4,h5,h6{
background-color:transparent;
color:#000000;
}
body,p,h1,h2,h3,h4,table,td,th,ul,ol,textarea,input{
font-family:verdana,helvetica,arial,sans-serif;
}

#header {
	margin: 0 auto;
	background:red;
	height: 40px;
	color: red;
}